@use "./variables" as *;
@use "./mixins" as *;

//  desktop styling

.dashboard {
  height: 100vh;
  width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  text-align: center;
  @include smallDesktop {
    width: 150px;
    min-width: 150px;
  }
}

.dashboardContainer {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  @include smallDesktop {
    width: 150px;
    min-width: 150px;
  }
  .dashboardLogo {
    position: fixed;
    left: 60px;
    top: 0;
    margin-top: 25px;
    @include smallDesktop {
      left: 35px;
    }
    a {
      h2 {
        transition: 0.9s;
        color: $white;
        font-family: $bold;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
  .middleDashboard {
    overflow: hidden;
    max-height: 500px;
    .recentContainer {
      h2 {
        cursor: default;
        color: $white;
        font-size: clamp(1.5rem, 1.4545rem + 0.2273vw, 2rem);
        padding: 0 0 15px;
        #recentTitle {
          font-family: $bold;
        }
      }
      p {
        color: $black;
      }
      .recentContainerContainer {
        padding: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse;
        max-height: 400px;
        overflow-y: none;
        .recentItems {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px;
          position: relative;
          &:hover {
            background: $grey;
            border-radius: 5px;
            transition: 0.1s;
            .recentItemsButton {
              .recentAddFav {
                i {
                  color: transparent;
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: $black;
                  &:hover {
                    transform: scale(1.15);
                    color: $white;
                    transition: 0.2s;
                  }
                }
              }
            }
          }
          .playButtonDivRecent {
            background: transparent;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border: none;
            cursor: pointer;
          }
          img {
            width: 35px;
            height: 35px;
            border-radius: 5px;
            @include smallDesktop {
              width: 20px;
              height: 20px;
            }
          }
          .blurred {
            filter: blur(2.5px);
            -webkit-filter: blur(2.5px);
            transition: 0.3s;
          }
          .hoverPlayDash {
            position: absolute;
            top: 17.5px;
            left: 17.5px;
            cursor: pointer;
            i {
              color: $red;
              font-size: 1.5rem;
              text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000,
                0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
              transition: 0.2s;
              &:hover {
                transform: scale(1.15);
              }
            }
          }
          .recentItemsText {
            padding: 0 4px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            p {
              margin: 0;
              font-size: clamp(0.625rem, 0.5682rem + 0.2841vw, 1.25rem);
              color: $white;
            }
          }
          &:hover .favText {
            color: $black;
          }
          .recentItemsButton {
            display: flex;
            .recentAddFav {
              width: 10px;
              padding: 7px 10px;
              border: none;
              background: transparent;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 1;
              i {
                font-size: 1.5rem;
                color: transparent;
                &:hover {
                  transform: scale(1.15);
                  color: $white;
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: $black;
                  transition: 0.2s;
                }
              }
            }
            .added {
              width: 10px;
              padding: 7px 10px;
              border: none;
              background: transparent;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 1;
              cursor: default;
              i {
                font-size: 1.5rem;
                color: $yellow;
                animation: rotateOnce 0.65s linear;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: $black;
              }
            }
          }
        }
        .recentItemsPlaying {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: $yellow;
          border-radius: 5px;
          padding: 5px;
          position: relative;
          &:hover {
            .recentItemsButton {
              .recentAddFav {
                i {
                  color: $grey;
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: $black;
                  &:hover {
                    transform: scale(1.15);
                    color: $white;
                    transition: 0.2s;
                  }
                }
              }
            }
          }
          .playingBarsRecent {
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 5px;
            background-color: $white;
            font-family: "Poppins", sans-serif;
            background-image: url("../../assets/soundBars.gif");
            background-size: 75px;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
          }
          .playButtonDivRecent {
            background: transparent;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border: none;
            cursor: default;
          }
          img {
            width: 35px;
            height: 35px;
            border-radius: 5px;
            @include smallDesktop {
              width: 20px;
              height: 20px;
            }
          }
          .recentItemsText {
            padding: 0 4px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            p {
              margin: 0;
              font-size: clamp(0.625rem, 0.5682rem + 0.2841vw, 1.25rem);
              color: $black;
            }
          }
          .recentItemsButton {
            display: flex;
            .recentAddFav {
              width: 10px;
              padding: 7px 10px;
              background: transparent;
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 2;
              i {
                font-size: 1.5rem;
                color: transparent;
              }
            }
            .added {
              width: 10px;
              padding: 7px 10px;
              border: none;
              background: transparent;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: default;
              z-index: 1;
              i {
                font-size: 1.5rem;
                color: $yellow;
                animation: rotateOnce 0.65s linear;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: $black;
              }
            }
          }
        }
      }
    }
    .popularView {
      #popularTitle {
        color: $white;
        font-size: clamp(1.5rem, 1.4545rem + 0.2273vw, 2rem);
        padding: 0 0 15px;
        cursor: default;
        #popularSearchTerm {
          font-family: $bold;
        }
      }

      .popularContainerContainer {
        padding: 5px;
        .popularResultsPlaying {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: $playingYellow;
          border-radius: 5px;
          padding: 5px;
          position: relative;
          .playButtonDivPopular {
            background: transparent;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border: none;
            cursor: default;
          }
          img {
            width: 35px;
            height: 35px;
            border-radius: 5px;
            @include smallDesktop {
              width: 20px;
              height: 20px;
            }
          }
          .playingBarsPopular {
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 5px;
            background-color: $white;
            font-family: "Poppins", sans-serif;
            background-image: url("../../assets/soundBars.gif");
            background-size: 75px;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
          }
          .popularText {
            padding: 4px;
            p {
              margin: 0;
              font-size: clamp(0.625rem, 0.5682rem + 0.2841vw, 1.25rem);
              color: $black;
            }
          }
          &:hover {
            border-radius: 5px;
            transition: 0.1s;
            .popularButtons {
              .addFav {
                i {
                  color: $grey;
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: $black;
                  &:hover {
                    transform: scale(1.15);
                    color: $white;
                    transition: 0.2s;
                  }
                }
              }
            }
          }
          .popularButtons {
            display: flex;
            .addFav {
              width: 10px;
              padding: 7px 10px;
              border: none;
              background: transparent;
              color: transparent;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 1;
              i {
                font-size: 1.5rem;
                color: transparent;
              }
            }
            .added {
              width: 10px;
              padding: 7px 10px;
              background-color: transparent;
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;
              i {
                font-size: 1.5rem;
                color: $yellow;
                animation: rotateOnce 0.65s linear;
                text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000,
                  0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
              }
            }
          }
        }
        .popularResults {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px;
          position: relative;
          .playButtonDivPopular {
            background: transparent;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border: none;
            cursor: pointer;
          }
          img {
            width: 35px;
            height: 35px;
            border-radius: 5px;
            @include smallDesktop {
              width: 20px;
              height: 20px;
            }
          }
          .blurred {
            filter: blur(2.5px);
            -webkit-filter: blur(2.5px);
            transition: 0.3s;
          }
          .hoverPlayDash {
            position: absolute;
            top: 17.5px;
            left: 17.5px;
            cursor: pointer;
            i {
              color: $red;
              font-size: 1.5rem;
              text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000,
                0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
              transition: 0.2s;
              &:hover {
                transform: scale(1.15);
              }
            }
          }
          .popularText {
            padding: 4px;
            p {
              margin: 0;
              font-size: clamp(0.625rem, 0.5682rem + 0.2841vw, 1.25rem);
              color: $white;
            }
          }
          &:hover .popularTextTitle {
            color: $black;
          }
          .popularButtons {
            .popularButton {
              border: 2px solid $black;
              background: $white;
              border-radius: 50px;
              width: 35px;
              height: 35px;
              margin: 2px 5px;
              color: $red;
              @include smallDesktop {
                width: 20px;
                height: 20px;
                font-size: 0.7rem;
              }
            }
          }
          &:hover {
            background: $grey;
            border-radius: 5px;
            transition: 0.1s;
            .popularButtons {
              .addFav {
                i {
                  color: transparent;
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: $black;
                }
              }
            }
          }
          img {
            width: 35px;
            height: 35px;
            border-radius: 5px;
            @include smallDesktop {
              width: 20px;
              height: 20px;
            }
          }
          .popularText {
            padding: 4px;
            p {
              margin: 0;
              font-size: clamp(0.625rem, 0.5682rem + 0.2841vw, 1.25rem);
              color: $white;
            }
          }
          &:hover .popularTextTitle {
            color: $black;
          }
          .popularButtons {
            display: flex;
            .addFav {
              width: 10px;
              padding: 7px 10px;
              border: none;
              color: $yellow;
              background-color: transparent;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 1;
              &:hover {
                transition: 0.3s;
                transform: scale(1.25);
              }
              i {
                font-size: 1.5rem;
                color: transparent;
                &:hover {
                  color: $white;
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: $black;
                }
              }
            }
            .added {
              width: 10px;
              padding: 7px 10px;
              border: none;
              background-color: transparent;
              display: flex;
              justify-content: center;
              align-items: center;
              i {
                font-size: 1.5rem;
                color: $yellow;
                animation: rotateOnce 0.65s linear;
                text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000,
                  0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
              }
            }
            button {
              background: transparent;
            }
          }
        }
      }
    }
    .favContainer {
      h2 {
        color: $white;
        font-size: clamp(1.5rem, 1.4545rem + 0.2273vw, 2rem);
        padding: 0 0 15px;
        cursor: default;
        #favouriteTitle {
          font-family: $bold;
        }
      }
      p {
        color: $black;
      }
      .favContainerContainer {
        padding: 5px;
        max-height: 370px;
        overflow: auto;
        display: flex;
        position: relative;
        scrollbar-width: none; /* Hide the scrollbar for Firefox */
        -ms-overflow-style: none; /* Hide the scrollbar for IE and Edge */
        &::-webkit-scrollbar {
          // display: none; // Hide the default scrollbar
          width: 5px;
        }

        &.hovered::-webkit-scrollbar {
          display: flex; // Show the custom scrollbar during hover
          position: absolute;
          top: 0;
          right: 0;
          width: 5px;
          z-index: 5;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(
            0,
            0,
            0,
            0.5
          ); // Adjust the thumb color as desired
          border-radius: 4px; // Adjust the thumb border radius as desired
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: rgba(
            0,
            0,
            0,
            0.8
          ); // Adjust the thumb color on hover as desired
        }

        &::-webkit-scrollbar-track {
          background-color: transparent; // Adjust the track color as desired
        }

        &::-webkit-scrollbar-track:hover {
          background-color: rgba(
            0,
            0,
            0,
            0.1
          ); // Adjust the track color on hover as desired
        }

        &::-webkit-scrollbar-track:active {
          background-color: rgba(
            0,
            0,
            0,
            0.2
          ); // Adjust the track color when active as desired
        }

        &::-webkit-scrollbar-corner {
          background-color: transparent; // Adjust the corner color as desired
        }
        .scrollableContent {
          height: 100%;
          overflow-y: auto;
          .favItems {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            position: relative;
            &:hover {
              background: $grey;
              border-radius: 5px;
              .favButtons {
                .removeFav {
                  i {
                    color: $black;
                  }
                }
              }
            }
            .playButtonDivFav {
              background: transparent;
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              border: none;
              cursor: pointer;
            }
            img {
              width: 35px;
              height: 35px;
              border-radius: 5px;
              @include smallDesktop {
                width: 20px;
                height: 20px;
              }
            }
            .blurred {
              filter: blur(2.5px);
              -webkit-filter: blur(2.5px);
              transition: 0.3s;
            }
            .hoverPlayDash {
              position: absolute;
              top: 17.5px;
              left: 17.5px;
              cursor: pointer;
              i {
                color: $red;
                font-size: 1.5rem;
                text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000,
                  0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
                transition: 0.2s;
                &:hover {
                  transform: scale(1.15);
                }
              }
            }
            .favText {
              padding: 0 4px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              line-clamp: 3;
              -webkit-box-orient: vertical;
              p {
                margin: 0;
                font-size: clamp(0.625rem, 0.5682rem + 0.2841vw, 1.25rem);
                color: $white;
              }
            }
            &:hover .favText p {
              color: $black;
            }
            .favButtons {
              display: flex;
              .removeFav {
                width: 10px;
                padding: 7px 10px;
                border: none;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                i {
                  font-size: 1.5rem;
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: $black;
                  transition: 0.1s;
                }
                .trash {
                  color: $black;
                  -webkit-text-stroke-width: 0.2px;
                  &:hover {
                    transform: scale(1.25);
                    color: $ash;
                  }
                }
                .faved {
                  color: $yellow;
                }
              }
            }
          }
          .favItemsPlaying {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $yellow;
            border-radius: 5px;
            padding: 5px;
            cursor: default;
            .playButtonDivFav {
              background: transparent;
              position: absolute;
              top: 0;
              width: 50%;
              height: 50%;
              border: none;
              cursor: default;
            }
            img {
              width: 35px;
              height: 35px;
              border-radius: 5px;
              @include smallDesktop {
                width: 20px;
                height: 20px;
              }
            }
            .playingBarsFav {
              width: 35px;
              height: 35px;
              border: none;
              border-radius: 5px;
              background-color: $white;
              font-family: "Poppins", sans-serif;
              background-image: url("../../assets/soundBars.gif");
              background-size: 75px;
              background-repeat: no-repeat;
              background-position: center;
              display: inline-block;
            }
            .favText {
              padding: 0 4px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              line-clamp: 3;
              -webkit-box-orient: vertical;
              p {
                margin: 0;
                font-size: clamp(0.625rem, 0.5682rem + 0.2841vw, 1.25rem);
                color: $black;
              }
            }
            .favButtons {
              display: flex;
              .removeFav {
                width: 10px;
                padding: 7px 10px;
                border: none;
                background: transparent;
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                i {
                  font-size: 1.5rem;
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: $black;
                  transition: 0.1s;
                }
                .trash {
                  color: $ash;
                  -webkit-text-stroke-width: 0.2px;
                  &:hover {
                    transform: scale(1.25);
                  }
                }
                .faved {
                  color: $yellow;
                  cursor: default;
                }
              }
            }
          }
        }
      }
    }
  }
  .infoContainer {
    display: flex;
    position: fixed;
    bottom: 261px;
    width: 200px;
    justify-content: center;
    z-index: 2;
    @include smallDesktop {
      width: 150px;
      bottom: 211px;
    }
    .infoButtons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      button {
        width: calc(100% / 4);
        font-size: 1.7rem;
        background: transparent;
        border: none;
        border-bottom: 2px solid transparent;
        color: $white;
        #selectedPopular {
          color: $orange;
          transition: 0.35s;
          -webkit-text-stroke-width: 0.7px;
          -webkit-text-stroke-color: $black;
        }
        #selectedRecent {
          color: $ash;
          transition: 0.35s;
          -webkit-text-stroke-width: 0.2px;
          -webkit-text-stroke-color: $black;
        }
        #selectedFavs {
          color: $yellow;
          transition: 0.35s;
          -webkit-text-stroke-width: 0.7px;
          -webkit-text-stroke-color: $ash;
        }
        #selectedInfo {
          color: $blue;
          transition: 0.35s;
          -webkit-text-stroke-width: 0.2px;
          -webkit-text-stroke-color: $black;
        }
      }
      .popular {
        -webkit-text-stroke-width: 0.7px;
        -webkit-text-stroke-color: $black;
        &:hover {
          border: none;
          border-bottom: 2px solid $orange;
          transition: 0.3s;
          color: $orange;
        }
      }
      .recent {
        -webkit-text-stroke-width: 0.35px;
        -webkit-text-stroke-color: $black;
        &:hover {
          border: none;
          border-bottom: 2px solid $ash;
          transition: 0.3s;
          color: $ash;
        }
      }
      .fav {
        -webkit-text-stroke-width: 0.7px;
        -webkit-text-stroke-color: $ash;
        &:hover {
          border: none;
          border-bottom: 2px solid $yellow;
          transition: 0.3s;
          color: $yellow;
        }
      }
      .info {
        -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: $black;
        &:hover {
          border: none;
          border-bottom: 2px solid $blue;
          transition: 0.3s;
          color: $blue;
        }
      }
      #selectedPopularBtn {
        border: none;
        border-bottom: 2px solid $orange;
      }
      #selectedRecentBtn {
        border: none;
        border-bottom: 2px solid $ash;
      }
      #selectedFavsBtn {
        border: none;
        border-bottom: 2px solid $yellow;
      }
      #selectedInfoBtn {
        border: none;
        border-bottom: 2px solid $blue;
      }
    }
    .instructions {
      position: fixed;
      width: 200px;
      background: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid $black;
      animation: 0.2s linear forwards instructions;
      transition: 0.9s;
      padding: 10px;
      .infoButton {
        position: absolute;
        top: 1%;
        right: 3%;
        background: transparent;
        border: none;
        i {
          color: $black;
        }
      }
      p {
        color: $black;
        padding: 6px;
        margin: 0;
        font-size: 1.35rem;
        animation: textFade 0.3s linear;
      }
    }
  }
  .infoContainerBottom {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 200px;
    justify-content: center;
    .infoButtons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: relative;
      button {
        width: calc(100% / 3);
        background: transparent;
        font-size: 1.7rem;
        border: none;
        border-bottom: 2px solid transparent;
        color: $white;
        text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000,
          0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
        &:hover {
          border: none;
          border-bottom: 2px solid $white;
        }
        #selectedPopular {
          color: $ash;
        }
        #selectedRecent {
          color: $blue;
        }
        #selectedFavs {
          color: $yellow;
        }
      }
    }
    .instructions {
      position: fixed;
      bottom: 35px;
      width: 200px;
      height: 258px;
      background: $white;
      display: flex;
      align-items: center;
      border: 2px solid $black;
      @include smallDesktop {
        width: 150px;
      }
      .infoButton {
        position: absolute;
        top: 1%;
        right: 3%;
        background: transparent;
        border: none;
        i {
          color: $black;
        }
      }
      p {
        color: $black;
        padding: 10px;
        font-size: clamp(0.75rem, 0.7045rem + 0.2273vw, 1.25rem);
      }
    }
  }
}

//////////////////////////////////////// mobile styling

.dashboardContainerMobile {
  background: transparent;
  position: relative;
  .hamburger {
    font-size: 3rem;
    position: fixed;
    top: 20px;
    left: 45px;
    z-index: 5;
    background: transparent;
    border: none;
    color: $black;
    margin: 0;
    padding: 0;
    opacity: 0;
    animation: 0.2s linear forwards fade;
  }
  .hamburgerX {
    font-size: 3.75rem;
    position: fixed;
    top: 18px;
    left: 45px;
    z-index: 5;
    background: transparent;
    border: none;
    color: $black;
    margin: 0;
    padding: 0;
    opacity: 0;
    animation: 0.2s linear forwards openMobile;
  }
  .dashboardPopOut {
    width: 100vw;
    height: 100px;
    background: $red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    .dashboardLogo {
      position: fixed;
      left: 60px;
      top: 0;
      margin-top: 25px;
      a {
        h2 {
          transition: 0.9s;
          color: $white;
          font-family: $bold;
          &:hover {
            color: $yellow;
          }
        }
      }
    }
    .middleDashboard {
      overflow: hidden;
      max-height: 500px;
      .popularView {
        padding: 5px;
        #popularTitle {
          color: $white;
          font-size: clamp(0.625rem, 0.5682rem + 0.2841vw, 1.25rem);
          padding: 0 0 15px;
          #popularSearchTerm {
            font-family: $bold;
          }
        }
        .popularResultsPlaying {
          background: $yellow;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 2px;
          img {
            width: 35px;
            height: 35px;
            border-radius: 5px;
            @include smallDesktop {
              width: 20px;
              height: 20px;
            }
          }
          .popularText {
            .popularTextTitle {
              padding: 0 4px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              line-clamp: 3;
              -webkit-box-orient: vertical;
              p {
                margin: 0;
                font-size: clamp(0.625rem, 0.5682rem + 0.2841vw, 1.25rem);
                color: $black;
              }
            }
          }
          .popularButtons {
            display: flex;
            .popularButtonPlaying {
              width: 10px;
              padding: 7px 10px;
              border-radius: 5px 0 0 5px;
              border-right: 0.5px solid $black;
              background-color: $white;
              font-family: "Poppins", sans-serif;
              background-image: url("../../assets/soundBars.gif");
              background-size: 75px;
              background-repeat: no-repeat;
              background-position: center;
              display: inline-block;
              @include smallDesktop {
                width: 20px;
                height: 20px;
              }
            }
            .addFav {
              width: 10px;
              padding: 7px 10px;
              border-radius: 0 5px 5px 0;
              border-left: 0.5px solid $black;
              color: $red;
              display: flex;
              justify-content: center;
              align-items: center;
              i {
                font-size: 1rem;
              }
            }
          }
        }
      }
      .popularResults {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px;
        img {
          width: 35px;
          height: 35px;
          border-radius: 5px;
          @include smallDesktop {
            width: 20px;
            height: 20px;
          }
        }
        .popularText {
          padding: 0 4px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          -webkit-box-orient: vertical;
          p {
            margin: 0;
            font-size: clamp(0.625rem, 0.5682rem + 0.2841vw, 1.25rem);
            color: $black;
          }
        }
        &:hover .popularTextTitle {
          color: $black;
        }
        .popularButtons {
          .popluarButton {
            width: 10px;
            padding: 7px 10px;
            border-radius: 5px 0 0 5px;
            border-right: 0.5px solid $black;
            color: $red;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
              font-size: 1rem;
            }
            @include smallDesktop {
              width: 20px;
              height: 20px;
            }
          }
          .addFav {
            width: 10px;
            padding: 7px 10px;
            border-radius: 0 5px 5px 0;
            border-left: 0.5px solid $black;
            color: $red;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
              font-size: 1rem;
            }
          }
        }
        &:hover {
          background: $grey;
          border-radius: 5px;
        }
        img {
          width: 35px;
          height: 35px;
          border-radius: 5px;
          @include smallDesktop {
            width: 20px;
            height: 20px;
          }
        }
      }
      .favContainer {
        padding: 5px;
        overflow: hidden;
        h2 {
          text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000,
            0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
          font-size: 1.75rem;
        }
        p {
          color: $black;
        }
        .favItems {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 2px;
          &:hover {
            background: $grey;
            border-radius: 5px;
          }
          .favText {
            width: 60%;
            word-wrap: break-word;
            p {
              margin: 0;
              color: $black;
              font-size: 1.5rem;
            }
          }
          img {
            height: 35px;
            width: 35px;
            border-radius: 5px;
          }
        }
      }
    }
    .infoContainer {
      display: flex;
      position: fixed;
      bottom: 261px;
      width: 200px;
      justify-content: center;
      z-index: 2;
      .infoButtons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        button {
          width: calc(100% / 3);
          font-size: 1.7rem;
          background: transparent;
          border: none;
          border-bottom: 2px solid transparent;
          color: $white;
          &:hover {
            border: none;
            border-bottom: 2px solid $white;
          }
        }
      }
      .instructions {
        position: fixed;
        bottom: 290px;
        width: 200px;
        height: 150px;
        background: $white;
        display: flex;
        align-items: center;
        border: 2px solid $black;
        .infoButton {
          position: absolute;
          top: 1%;
          right: 3%;
          background: transparent;
          border: none;
          i {
            color: $black;
          }
        }
        p {
          color: $black;
          padding: 5px;
          font-size: 1.5rem;
        }
      }
    }
    .infoContainerBottom {
      display: flex;
      position: fixed;
      bottom: 0;
      width: 200px;
      justify-content: center;
      .infoButtons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        button {
          width: calc(100% / 3);
          background: transparent;
          font-size: 1.7rem;
          border: none;
          border-bottom: 2px solid transparent;
          color: $white;
          text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000,
            0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
          &:hover {
            border: none;
            border-bottom: 2px solid $white;
          }
          i {
            #selectedPopular {
              font-size: 5rem;
            }
          }
        }
      }
      .instructions {
        position: fixed;
        bottom: 35px;
        width: 200px;
        height: 258px;
        background: $white;
        display: flex;
        align-items: center;
        border: 2px solid $black;
        .infoButton {
          position: absolute;
          top: 1%;
          right: 3%;
          background: transparent;
          border: none;
          i {
            color: $black;
          }
        }
        p {
          color: $black;
          padding: 5px;
          font-size: 1.5rem;
        }
      }
    }
  }
}

// animation

@keyframes openMobile {
  0% {
    opacity: 0;
    left: 45px;
  }
  99% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    left: 150px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    left: 150px;
  }
  99% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    left: 45px;
  }
}

@keyframes textFade {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateOnce {
  0% {
    transform: rotate(0deg) scale(1);
    color: $yellow;
  }
  60% {
    transform: rotate(270deg) scale(1.25);
    color: $brightYellow;
  }
  100% {
    transform: rotate(360deg) scale(1);
    color: $darkYellow;
    text-shadow: -0.5px 0.5px 0 $white, 0.5px 0.5px 0 $white,
      0.5px -0.5px 0 $white, -0.5px -0.5px 0 $white;
  }
}

@keyframes instructions {
  from {
    bottom: 280px;
    height: 35px;
    opacity: 0;
  }
  to {
    bottom: 295px;
    height: 365px;
    opacity: 1;
  }
}
