.dashboard {
  height: 100vh;
  width: 200px;
  min-width: 200px;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  text-align: center;
}

.dashboardContainer {
  background: yellow;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  .dashboardLogo {
    position: fixed;
    left: 60px;
    top: 0;
    margin-top: 25px;
  }
  .middleDashboard {
    overflow: hidden;
    .popularView {
      .popularResults {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: powderblue;
        padding: 2px;
        img {
          width: 35px;
          height: 35px;
        }
        .popularText {
          padding: 4px;
          p {
            margin: 0;
            font-size: 1.5rem;
          }
        }
        .popularButtons {
          .popularButton {
            border: 2px solid red;
            width: 35px;
            height: 35px;
            margin: 2px 5px;
          }
          .popularButtonPlaying {
            width: 35px;
            height: 35px;
            border: 2px solid #1e2021;
            background-color: transparent;
            font-family: "Poppins", sans-serif;
            background-image: url("../../assets/soundBars.gif");
            background-size: 100px;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            margin: 2px 5px;
          }
          button {
            background: transparent;
          }
        }
      }
    }
    .favContainer {
      border: 2px solid black;
      overflow: hidden;
      .favItems {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: orange;
        text-align: center;
        padding: 2px;
        .favText {
          width: 60%;
          word-wrap: break-word;
          p {
            margin: 0;
          }
        }
        img {
          height: 35px;
          width: 35px;
        }
        .favButtons {
          display: flex;
          button {
            background: transparent;
            border: 1px solid black;
            margin: 0 4px;
            border: 2px solid red;
            width: 35px;
            height: 35px;
            margin: 2px 5px;
          }
        }
      }
    }
  }
  .infoContainer {
    display: flex;
    position: fixed;
    bottom: 258px;
    width: 200px;
    justify-content: center;
    .infoButtons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      button {
        width: calc(100% / 3);
        font-size: 1.7rem;
      }
    }
    .instructions {
      position: fixed;
      bottom: 290px;
      width: 200px;
      height: 258px;
      background: palegoldenrod;
      display: flex;
      align-items: center;
      .infoButton {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  .infoContainerBottom {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 200px;
    justify-content: center;
    .infoButtons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: relative;
      button {
        width: calc(100% / 3);
      }
    }
    .instructions {
      position: fixed;
      bottom: 35px;
      width: 200px;
      height: 258px;
      background: palegoldenrod;
      display: flex;
      align-items: center;
      .infoButton {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
