@use "./variables" as *;

.footer {
    position: fixed;
    bottom: 0;
    background: $red;
    width: 100vw;
    display: flex;
    justify-content: center;
    .footerText {
        p {
            a {
                color: $white;
                        text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000, 0.5px -0.5px 0 #000,
              -0.5px -0.5px 0 #000;
                &:hover {
                    color: $yellow;
                }
            }
        }
    }
}