@use "./variables" as *;
@use "./mixins" as *;

.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  .landingInfo {
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .landingNav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 50px 0 50px;
    .loginBtn {
      margin: 0 5px;
      width: 75px;
      font-size: clamp(0.875rem, 0.75rem + 0.625vw, 2.25rem);
      padding: 5px 10px;
      background: transparent;
      color: $white;
      border: none;
      &:hover {
        color: $yellow;
      }
    }
    .aboutBtn {
      margin: 0 5px;
      width: 75px;
      font-size: clamp(0.875rem, 0.75rem + 0.625vw, 2.25rem);
      padding: 5px 10px;
      background: transparent;
      color: $white;
      border: none;
      &:hover {
        color: $yellow;
      }
    }
  }
  .centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    .centerText {
      margin: 100px 0 0;
      text-align: center;
      .title {
        color: $white;
        font-family: $bold;
        transition: 0.9s;
        cursor: default;
        &:hover {
          color: $yellow;
        }
      }
      .greeting {
        margin: 2px 0 10px;
        color: $white;
        cursor: default;
      }
    }
    .searchForm {
      display: flex;
      justify-content: center;
      width: 35%;
      @include tablet {
        width: 50%;
      }
      @include mobileLarge {
        width: 70%;
      }
      @include mobile {
        width: 85%;
      }
      .searchContainer {
        width: 100%;
        margin: 12.5px 0;
        .checkBox {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          label {
            font-size: clamp(0.75rem, 0.6136rem + 0.6818vw, 2.25rem);
            color: $white;
          }
          input {
            margin: 2px 5px 0;
            width: 12.5px;
            height: 12.5px;
            padding: 0;
            @include mobileLarge {
              width: 9px;
              height: 9px;
            }
          }
        }
        .searchInner {
          display: flex;
          text-align: center;
          input, input::placeholder {
            font-size: clamp(0.9375rem, 0.8523rem + 0.4261vw, 1.875rem);
          }
          .searchButton {
            background-color: $yellow;
            border-radius: 0 5px 5px 0;
            width: 100px;
            border: 2px solid $black;
            &:hover {
              background-color: $darkYellow;
            }
            i {
              color: $black;
              font-size: 2rem;
              @include mobileLarge {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}
