@use "./variables" as *;

.stationList {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  .listFilters {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    .returned {
      font-size: 3rem;
      color: $eggshell;
      #amountReturned, #listSearchTerm {
        font-family: $bold;
        color: $brightWhite;
      }
    }
    .topControls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      margin-bottom: 10px;
      .filterButtonContainer {
        .randomStation {
          width: 50px;
          padding: 10px 10px;
          // margin: 0 6px;
          border-radius: 5px 0 0 5px;
          border-right: 0.5px solid $black;
          i {
            font-size: 2rem;
            color: $red;
          }
          &:hover {
            background: $grey;
          }
        }
        .mapViewButton {
          width: 50px;
          padding: 10px 10px;
          border-radius: 0 5px 5px 0;
          border-left: 0.5px solid $black;
          i {
            font-size: 2rem;
            color: $red;
          }
          &:hover {
            background: $grey;
          }
        }
      }
      .selectDropdown {
        select {
          padding: 10px 10px;
          font-size: 1.5rem;
          color: $black !important;
          border: 2px solid $black;
          border-radius: 5px;
        }
      }
    }
  }
  .stationListContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 55px;
    .stationInfoList {
      display: flex;
      justify-content: center;
      width: calc((80% / 2) - 30px);
      max-height: 150px;
      margin: 10px;
      border: 2.5px solid $black;
      border-radius: 20px;
      background-color: #ebe7e7;
      .imageInfoContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 5px;
        .information {
          width: 50%;
          .stationName {
            font-family: $bold;
          }
          .stationCountry {
            text-transform: capitalize;
          }
          p {
            font-size: 1.5rem;
            color: $black;
          }
        }
        .imageList {
          width: 25%;
          display: flex;
          align-content: center;
          justify-content: center;
          .icon {
            margin: auto 0;
            width: 70px;
            height: 70px;
            border-radius: 5px;
          }
        }
        .buttonContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          .infoButton {
            width: 45px;
            height: 45px;
            border: 2px solid #1e2021;
            border-radius: 50px;
            color: $red;
            background-color: $white;
            margin: 2px 5px;
            &:hover {
              transform: scale(1.05);
            }
          }
          .favourite {
            width: 45px;
            height: 45px;
            border: 2px solid #1e2021;
            border-radius: 50px;
            margin: 2px 5px;
            background-color: $white;
            &:hover {
              transform: scale(1.05);
            }
            i {
              color: $brightYellow;
              text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000,
                0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
            }
          }
        }
      }
    }
    .stationInfoPlayingList {
      display: flex;
      width: calc((80% / 2) - 30px);
      margin: 10px;
      max-height: 150px;
      border: 2.5px solid $black;
      border-radius: 20px;
      background-color: $yellow;
      .imageInfoContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 5px;
        .information {
          width: 50%;
          .stationName {
            font-family: $bold;
          }
          p {
            font-size: 1.5rem;
            color: $black;
          }
        }
        .imageList {
          width: 25%;
          margin: 0 15px;
          display: flex;
          align-content: center;
          justify-content: center;
          .icon {
            margin: auto 0;
            width: 70px;
            height: 70px;
            border-radius: 5px;
          }
        }
        .buttonContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          .favourite {
            width: 45px;
            height: 45px;
            border: 2px solid #1e2021;
            border-radius: 50px;
            margin: 2px 5px;
            i {
              color: $brightYellow;
              text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000,
                0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
            }
          }
          .infoButtonPlaying {
            width: 45px;
            height: 45px;
            border: 2px solid #1e2021;
            border-radius: 50px;
            background-color: $white;
            font-family: "Poppins", sans-serif;
            background-image: url("../../assets/soundBars.gif");
            background-size: 100px;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            margin: 2px 5px;
          }
        }
      }
    }
  }
}

.listViewContainer {
  background: rgb(211, 38, 49);
  background: -moz-linear-gradient(
    180deg,
    rgba(211, 38, 49, 1) 0%,
    rgba(29, 28, 34, 0.9850533963585434) 90%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(211, 38, 49, 1) 0%,
    rgba(29, 28, 34, 0.9850533963585434) 90%
  );
  background: linear-gradient(
    180deg,
    rgba(211, 38, 49, 1) 0%,
    rgba(29, 28, 34, 0.9850533963585434) 90%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d32631",endColorstr="#1d1c22",GradientType=1);
}

// .scrollToTop {
//   position: absolute;
//   top: 0%;
//   right: 0%;
//   color: $black;
// }

.returnBtn {
  position: fixed;
  bottom: 110px;
  right: 35px;
  transition: opacity 0.6s ease-in-out;
  .scrollToTop {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: $ash;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    &:hover + #topText {
      display: block;
    }
    i {
      font-size: 3rem;
    }
  }
  #topText {
    color: $white;
    position: absolute;
    margin: 5px 0;
    text-align: center;
    font-size: 1.5rem;
    display: none;
  }
}
