@use "./variables" as *;
@use "./mixins" as *;

.stationList {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  .listFilters {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    .returned {
      font-size: clamp(1.25rem, 1.0909rem + 0.7955vw, 3rem);
      color: $eggshell;
      @include mobileLarge {
        text-align: center;
      }
      #amountReturned,
      #listSearchTerm {
        font-family: $bold;
        color: $brightWhite;
      }
    }
    .topControls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      margin-bottom: 10px;
      @include mobile {
        justify-content: center;
      }
      .filterButtonContainer {
        @include mobile {
          margin: 5px;
        }
        .randomStation {
          width: 50px;
          padding: 10px 10px;
          border-radius: 5px 0 0 5px;
          border-right: 0.5px solid $black;
          @include mobile {
            width: 42.5px;
            padding: 7.5px 7.5px;
          }
          i {
            font-size: clamp(1.125rem, 1.0227rem + 0.5114vw, 2.25rem);
            color: $red;
          }
          &:hover {
            background: $grey;
          }
        }
        .mapViewButton {
          width: 50px;
          padding: 10px 10px;
          border-radius: 0 5px 5px 0;
          border-left: 0.5px solid $black;
          @include mobile {
            width: 42.5px;
            padding: 7.5px 7.5px;
          }
          i {
            font-size: clamp(1.125rem, 1.0227rem + 0.5114vw, 2.25rem);
            color: $red;
          }
          &:hover {
            background: $grey;
          }
        }
      }
      .selectDropdown {
        @include mobile {
          padding: 10px 0;
        }
        select {
          padding: 10px 10px;
          font-size: clamp(0.625rem, 0.5455rem + 0.3977vw, 1.5rem);
          color: $black !important;
          border: 2px solid $ash;
          border-radius: 5px;
          @include mobile {
            width: 85px;
            padding: 9px 9px;
          }
        }
      }
    }
  }
  .stationListContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 55px;
    // .fadeList {
    // }
    .stationInfoList {
      display: flex;
      justify-content: center;
      width: calc((80% / 2) - 30px);
      max-height: 150px;
      margin: 10px;
      border: 2.5px solid $black;
      border-radius: 20px;
      background-color: #ebe7e7;
      @include tablet {
        width: calc((85% / 2) - 25px);
      }
      @include mobileLarge {
        width: calc((92.5% / 2) - 25px);
      }
      .imageInfoContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 5px;
        @include mobileLarge {
          flex-direction: column;
          text-align: center;
          align-items: center;
        }
        .information {
          width: 50%;
          @include tablet {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }
          .stationName {
            font-family: $bold;
          }
          .stationCountry {
            text-transform: capitalize;
          }
          p {
            font-size: clamp(0.75rem, 0.6705rem + 0.3977vw, 1.625rem);
            color: $black;
          }
        }
        .imageList {
          width: 25%;
          margin: 0 15px;
          display: flex;
          align-content: center;
          justify-content: center;
          .icon {
            margin: auto 0;
            width: 70px;
            height: auto;
            max-height: 70px;
            border-radius: 10px;
            padding: 5px;
            @include smallDesktop {
              width: 50px;
              height: auto;
              max-height: 50px;
            }
            @include tablet {
              width: 35px;
              height: auto;
              max-height: 35px;
              font-size: 0.7rem;
            }
          }
        }
        .buttonContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          // @include mobileLarge {
          //   flex-direction: column;
          // }
          .infoButton {
            width: 45px;
            height: 45px;
            border: 2px solid #1e2021;
            border-radius: 50px;
            color: $red;
            background-color: $white;
            margin: 2px 5px;
            &:hover {
              transform: scale(1.05);
            }
            @include smallDesktop {
              width: 30px;
              height: 30px;
            }
            @include tablet {
              width: 25px;
              height: 25px;
            }
            @include mobileLarge {
              width: 20px;
              height: 20px;
              font-size: 0.7rem;
            }
          }
          .favourite {
            width: 45px;
            height: 45px;
            border: 2px solid #1e2021;
            border-radius: 50px;
            margin: 2px 5px;
            background-color: $white;
            &:hover {
              transform: scale(1.05);
            }
            @include smallDesktop {
              width: 30px;
              height: 30px;
            }
            @include tablet {
              width: 25px;
              height: 25px;
            }
            @include mobileLarge {
              width: 20px;
              height: 20px;
              font-size: 0.7rem;
            }
            i {
              color: $brightYellow;
              text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000,
                0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
            }
          }
        }
      }
    }
    .stationInfoPlayingList {
      display: flex;
      justify-content: center;
      width: calc((80% / 2) - 30px);
      margin: 10px;
      max-height: 150px;
      border: 2.5px solid $black;
      border-radius: 20px;
      background-color: $yellow;
      @include tablet {
        width: calc((85% / 2) - 25px);
      }
      @include mobileLarge {
        width: calc((92.5% / 2) - 25px);
      }
      .imageInfoContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 5px;
        @include mobileLarge {
          flex-direction: column;
          text-align: center;
          align-items: center;
        }
        .information {
          width: 50%;
          @include tablet {
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .stationName {
            font-family: $bold;
          }
          p {
            font-size: clamp(0.75rem, 0.6705rem + 0.3977vw, 1.625rem);
            color: $black;
          }
        }
        .imageList {
          width: 25%;
          margin: 0 15px;
          display: flex;
          align-content: center;
          justify-content: center;
          .icon {
            margin: auto 0;
            width: 70px;
            height: auto;
            max-height: 70px;
            border-radius: 10px;
            padding: 5px;
            @include smallDesktop {
              width: 50px;
              height: auto;
              max-height: 50px;
            }
            @include tablet {
              width: 35px;
              height: auto;
              max-height: 35px;
            }
          }
        }
        .buttonContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          // @include mobileLarge {
          //   flex-direction: column;
          // }
          .favourite {
            width: 45px;
            height: 45px;
            border: 2px solid #1e2021;
            border-radius: 50px;
            margin: 2px 5px;
            @include smallDesktop {
              width: 30px;
              height: 30px;
            }
            @include tablet {
              width: 25px;
              height: 25px;
              font-size: 0.7rem;
            }
            @include mobileLarge {
              width: 20px;
              height: 20px;
            }
            i {
              color: $brightYellow;
              text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000,
                0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
            }
          }
          .infoButtonPlaying {
            width: 45px;
            height: 45px;
            border: 2px solid #1e2021;
            border-radius: 50px;
            background-color: $white;
            font-family: "Poppins", sans-serif;
            background-image: url("../../assets/soundBars.gif");
            background-size: 100px;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            margin: 2px 5px;
            @include smallDesktop {
              width: 30px;
              height: 30px;
            }
            @include tablet {
              width: 25px;
              height: 25px;
              background-size: 60px;
            }
            @include mobileLarge {
              width: 20px;
              height: 20px;
              background-size: 45px;
            }
          }
        }
      }
    }
  }
}

.listViewContainer {
  background: rgb(211, 38, 49);
  background: -moz-linear-gradient(
    180deg,
    rgba(211, 38, 49, 1) 0%,
    rgba(29, 28, 34, 0.9850533963585434) 90%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(211, 38, 49, 1) 0%,
    rgba(29, 28, 34, 0.9850533963585434) 90%
  );
  background: linear-gradient(
    180deg,
    rgba(211, 38, 49, 1) 0%,
    rgba(29, 28, 34, 0.9850533963585434) 90%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d32631",endColorstr="#1d1c22",GradientType=1);
}

.returnBtn {
  position: fixed;
  bottom: 85px;
  right: 50px;
  transition: opacity 0.6s ease-in-out;
  @include tablet {
    bottom: 95px;
    right: 20px;
  }
  @include mobileLarge {
    bottom: 12.5px;
    z-index: 4;
  }
  @include mobile {
    bottom: 95px;
    right: 15px;
  }
  .scrollToTop {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: $ash;
    color: $white;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    @include tablet {
      height: 35px;
      width: 35px;
    }
    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }
    &:hover + #topText {
      display: block;
      @include tablet {
        display: none;
      }
    }
    i {
      font-size: 3rem;
      @include tablet {
        font-size: 2.2rem;
      }
    }
  }
  #topText {
    color: $white;
    position: absolute;
    margin: 5px 0;
    text-align: center;
    font-size: 1.5rem;
    display: none;
  }
}
