@use "./variables" as *;

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 0;
  background: rgb(211, 38, 49);
  background: -moz-linear-gradient(
    180deg,
    rgba(211, 38, 49, 1) 0%,
    rgba(29, 28, 34, 0.9850533963585434) 90%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(211, 38, 49, 1) 0%,
    rgba(29, 28, 34, 0.9850533963585434) 90%
  );
  background: linear-gradient(
    180deg,
    rgba(211, 38, 49, 1) 0%,
    rgba(29, 28, 34, 0.9850533963585434) 90%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d32631",endColorstr="#1d1c22",GradientType=1);
}

.mapFilters {
  position: fixed;
  top: 0%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgba(215, 215, 215, 0.797)
  );
  border-radius: 0 0 20px 20px;
  width: 600px;
  margin-left: -300px;
  padding: 12px;
  .returned {
    font-size: 2rem;
    text-align: center;
    margin: 2px 0 15px;
    color: $ash;
    h3 {
      margin: 0;
    }
    #searchTerm {
      color: $black;
      font-family: $bold;
    }
  }
  .topControls {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    .filterButtonContainer {
      .randomStation {
        width: 50px;
        padding: 10px 10px;
        border-radius: 5px 0 0 5px;
        border-right: 0.5px solid $black;
        &:hover {
          background: $grey;
        }
        i {
          font-size: 2rem;
          color: $red;
        }
      }
      .listButton {
        width: 50px;
        padding: 10px 10px;
        border-radius: 0 5px 5px 0;
        border-left: 0.5px solid $black;
        &:hover {
          background: $grey;
        }
        i {
          font-size: 2rem;
          color: $red;
        }
      }
    }
    .selectDropdown {
      select {
        padding: 10px 10px;
        font-size: 1.5rem;
        color: $black;
        background-color: $white;
        border: 2px solid $black;
        border-radius: 5px;
      }
    }
  }
}

.actualMap {
  display: flex;
  justify-content: flex-end;
  .testingMap {
    color: $yellow;
  }
  .leaflet-popup-content {
    margin: 15px 20px;
    .stationDetails {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .stationText {
        .stationCountry {
          text-transform: capitalize;
        }
        p {
          color: $black;
          margin: 5px 0;
        }
        #stationNameMap {
          font-family: $bold;
        }
      }
      .icon {
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        max-height: 100px;
        max-width: 100px;
        border-radius: 5px;
      }
      .buttonContainer {
        display: flex;
        justify-content: center;
        .infoButton {
          width: 45px;
          height: 45px;
          border: 2px solid $black;
          border-radius: 50px;
          color: #d64b4b;
          background-color: transparent;
          align-self: center;
          margin: 2px 5px;
        }
        .infoButtonPlaying {
          width: 45px;
          height: 45px;
          border: 2px solid #1e2021;
          border-radius: 50px;
          background-color: transparent;
          font-family: "Poppins", sans-serif;
          background-image: url("../../assets/soundBars.gif");
          background-size: 100px;
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
          align-self: center;
          margin: 2px 5px;
        }
        .favourite {
          width: 45px;
          height: 45px;
          border: 2px solid #1e2021;
          border-radius: 50px;
          background-color: transparent;
          margin: 2px 5px;
          i {
            color: $brightYellow;
            text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000,
              0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
          }
        }
      }
    }
  }
}
