.radio {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    background: white;
    .radioPlayer {
        width: 56%;
        z-index: 1;
    }
}

.rhap_container {
    box-shadow: none;
}
.rhap_current-time {
    display: none;
}
.rhap_progress-section {
    display: none !important;
}

.rhap_additional-controls {
    display: none !important;
}

.rhap_volume-controls {
    justify-content: flex-start !important;
}

.rhap_repeat-button {
    display: none;
}

.radioInfo{
    position: absolute;
    bottom: -8%;
    left: 0;
    width: 600px;
    img {
        width: 200px;
        height: 200px;
        background: black;
    }
    .radioInfoTitleContainer {
        width: 100%;
        .radioInfoTitle {
            margin-left: 14px;
            width: 500px;
            text-transform: capitalize;
            font-size: 2rem;
        }
    }
}



// @media (max-width: 850px) {

//     .rhap_horizontal-reverse {
//         margin: 0 auto;
//     }

//     .rhap_volume-bar-area {
//         display: none;
//     }

//     #rhap_current-time {
//         display: none;
//     }

//     .rhap_progress-bar {
//         display: none;
//     }

//     .rhap_progress-section {
//         display: none;
//     }
// }