.searchNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  z-index: 2;
  .searchNavContents {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .infoForm {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 80px;
      margin-top: 20px;
      .infoSearch {
        width: 70%;
        font-size: 2rem;
        padding: 15px;
      }
      .searchButton {
        width: 25%;
        background-color: red;
        border-radius: 0 5px 5px 0;
      }
    }
  }
}

.resultsContainer {
  .badResponse {
    height: 100vh;
    width: calc(100vw - 350px);
    display: flex;
    justify-content: center;
  }
  .badResponseContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 35%;
  }
  .badSearch {
    height: 100vh;
    width: calc(100vw - 350px);
    display: flex;
    justify-content: center;
  }
  .badSearchContent {
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 35%;
    .genreSuggestion {
      text-transform: capitalize;
    }
  }
}

.radioView {
    display: flex;
    width: 100vw;
    .resultsContainer {
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
    }
}