@use "./variables" as *;
.searchNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  z-index: 2;
  .searchNavContents {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .infoForm {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 80px;
      margin-top: 20px;
      .infoSearch {
        width: 70%;
        font-size: 2rem;
        padding: 15px;
        background: $white;
      }
      .searchButton {
        width: 25%;
        background-color: $yellow;
        border-radius: 0 5px 5px 0; 
        i {
          font-size: 1.5rem;
          color: $black;
        }
      }
    }
  }
}

.resultsContainer {
  .badResponse {
    height: 100vh;
    width: calc(100vw - 350px);
    display: flex;
    justify-content: center;
  }
  .badResponseContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 35%;
    button {
      width: 150px;
      padding: 10px 0;
      margin: 15px 0;
      background: $yellow;
      color: $black;
      border-radius: 5px;
      font-size: 2rem;
      &:hover {
        background: $white;
      }
    }
  }
  .badSearch {
    height: 100vh;
    width: calc(100vw - 350px);
    display: flex;
    justify-content: center;
  }
  .badSearchContent {
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 35%;
    h2 {
      color: $white;
    }
    .genreSuggestion {
      text-transform: capitalize;
      color: $yellow;
    }
  }
}

.radioView {
    display: flex;
    width: 100vw;
    .resultsContainer {
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
    }
}