
$font: 'Karla';
$bold: 'Karla Bold';

$yellow: #EDD05F;
$brightYellow: #FFE900;
$darkYellow: #dcc155;
$red: #D32631;
$lightRed: #FF7276;
$brightWhite: #ffffff;
$white: #f7f5ea;
$eggshell: #ebe7e7;
$black: #1a1a1c;
$ash: #3a3a3c;
$grey: #C4C2C2;
