$font: "Karla";
$bold: "Karla Bold";

$yellow: #edd05f;
$brightYellow: #f0dc00;
$darkYellow: #dcc155;
$playingYellow: #f0ce45d5;
$red: #d32631;
$lightRed: #ff7276;
$selectedRed: #9d282c;
$blue: #33acff;
$green: #0f8639;
$brightWhite: #ffffff;
$white: #f7f5ea;
$eggshell: #ebe7e7;
$black: #1a1a1c;
$ash: #3a3a3c;
$grey: #e1e0e0e3;
