$font: "Karla";
$bold: "Karla Bold";

$yellow: #edd05f;
$brightYellow: #ffe900;
$darkYellow: #dcc155;
$red: #d32631;
$lightRed: #ff7276;
$blue: #33acff;
$green: #1db954;
$brightWhite: #ffffff;
$white: #f7f5ea;
$eggshell: #ebe7e7;
$black: #1a1a1c;
$ash: #3a3a3c;
$grey: #c4c2c2;
