.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.searchContainer {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown:empty {
  border: none;
}

.dropdownRow {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
  text-transform: capitalize;
}

input {
  width: 220px;
}

.searchInner {
  display: flex;
}

.icon {
  width: 50px;
  height: 50px;
}